@model LOARS.Web.Models.Dashboard.LecturerDashboardViewModel
@{
    Layout = null;
}

<aside id="sidebar" class="dash-sidebar">

    <div class="sidebar-header">
        <span class="sidebar-title">Home</span>
        <button class="sidebar-close" onclick="toggleSidebar()">✕</button>
    </div>

    @foreach (var year in Model.Years.OrderByDescending(y => y))
    {
        <div class="year-block">
            <div class="year-title">
                @year
            </div>

            <div class="trimester-links">
                @foreach (var tri in Model.TrimestersByYear[year])
                {
                    var isActive =
                    Model.SelectedYear == year &&
                    Model.SelectedTrimester == tri;

                    <a asp-controller="LecturerDashboard"
                           asp-action="Index"
                           asp-route-year="@year"
                           asp-route-trimester="@tri"
                           class="tri-link @(isActive ? "active" : "")">

                        Trimester @tri
                    </a>
                }
            </div>
        </div>
    }
</aside>